@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/_AdminLayout .cshtml";
}


<div class="card">
    <div class="card-block"><button type="button" class="btn btn-success pull-right" onclick="PopupForm('@Url.Action("AddOrEditAnsmnt","Admin")')">
    <i class="fa fa-plus"></i> Add New </button>
    <h5 class="card-title mb-4">Announcements</h5>

    <table id="msgTable" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Announcement</th>
                <th>Order</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>
</div>
        <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
       

        @section scripts{
            <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
         

            <script>
                var Popup, dataTable;
                $(document).ready(function () {
                    dataTable = $("#msgTable").DataTable({
                        "ajax": {
                            "url": "/Admin/GetAncmntData",
                            "type": "GET",
                            "datatype": "json"
                        },
                        "columns": [
                            { "data": "Announcement1" },
                            { "data": "aOrder" },
                            { "data": "AId", "render": function (data) {
                                    return "<button type='button'  class='btn btn-info btn-sm' onclick=PopupForm('@Url.Action("AddOrEditAnsmnt", "Admin")/" + data + "')><i class='fa fa-pencil'></i> Edit</button> <button type='button'  class='btn btn-danger btn-sm' style='margin-left:5px' onclick=Delete(" + data + ")><i class='fa fa-trash'></i> Delete</button>";
                                },
                                "orderable": false,
                                "searchable": false,
                                "width": "150px"
                            }

                        ],
                        "language": {

                            "emptyTable": "No data found, Please click on <b>Add New</b> Button"
                        }
                    });
                });

                function PopupForm(url) {
                    var formDiv = $('<div/>');
                    $.get(url)
                    .done(function (response) {
                        formDiv.html(response);

                        Popup = formDiv.dialog({
                            autoOpen: true,
                            resizable: false,
                            title: 'Announcement Add/Edit',
                            height: 330,
                            width: 400,
                            close: function () {
                                Popup.dialog('destroy').remove();
                            }

                        });
                    });
                }

                function SubmitForm(form) {
                    $.validator.unobtrusive.parse(form);
                    if ($(form).valid()) {
                        $.ajax({
                            type: "POST",
                            url: form.action,
                            data: $(form).serialize(),
                            success: function (data) {
                                if (data.success) {
                                    Popup.dialog('close');
                                    dataTable.ajax.reload();

                                    $.notify(data.message, {
                                        globalPosition: "top center",
                                        className: "success"
                                    })

                                }
                            }
                        });
                    }
                    return false;
                }

                function Delete(id) {
                    if (confirm('Are You Sure to Delete this Announement ?')) {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("DeleteAnsmnt", "Admin")/' + id,
                            success: function (data) {
                                if (data.success) {
                                    dataTable.ajax.reload();

                                    $.notify(data.message, {
                                        globalPosition: "top center",
                                        className: "success"
                                    })

                                }
                            }

                        });
                    }
                }
            </script>
        }
