
@{
    ViewBag.Title = "Module2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h1>Module II - Audio & Video </h1>
        <hr>
        <h1>Audio</h1>
        <p>Attributes of AUDIO Tag
           The AUDIO tag of HTML5 supports only three audio file formats i.e. .oog, .mp3, .wav </p>
        
        <p>Following table shows the attributes of the AUDIO tag:</p>
        <table border="1">
            <tr>
                <th>Attribute </th>
                <th>Description</th>
            </tr>
            <tr>
                <td>autoplay</td>
                <td>Plays the audio file as soon as the Web page loads</td>
            </tr>

            <tr>
                <td>controls</td>
                <td>Displays the controls on the Web page, such as play and pause buttons</td>
            </tr>

            <tr>
                <td>loop</td>
                <td>Replays the audio file</td>
            </tr>

            <tr>
                <td>preloads</td>
                <td>Specifies whether the audio file is preloaded on the Web page or not</td>
            </tr>

            <tr>
                <td>src</td>
                <td>Provides the location of the audio file to play</td>
            </tr>
               </table>
        <p>
            Before HTML5, audio files could only be played in a browser with a plug-in (like flash).
            The HTML5 < audio > element specifies a standard way to embed audio in a web page.
        </p>
        <hr>
           

        <h4>How it works</h4>
        <p>The controls attribute adds audio controls, like play, pause, and volume.
           The < source > element allows you to specify alternative audio files which the browser may choose from. The browser will use the first recognized format.
           The text between the < audio > and < /audio > tags will only be displayed in browsers that do not support the < audi o> element.</p>
        <hr>

        <h1>Video</h1>
        <p>
            Attributes of VIDEO Tag
            You can use the VIDEO tag to display a video file on the Web page. The VIDEO tag supports the .gov and .mp4 file formats.
            </p>
       
        <p>Following table describes attributes of the VIDEO tag</p>
        <table border="1">
            <tr>
                <th>Attribute </th>
                <th>Description</th>
            </tr>
            <tr>
                <td>audio</td>
                <td>Controls the default state of the video's audio channel</td>
            </tr>

            <tr>
                <td>autoplay</td>
                <td>Plays the audio file as soon as the Web page loads</td>
            </tr>

            <tr>
                <td>controls</td>
                <td>Displays the controls on a Web page, such as play and pause buttons</td>
            </tr>

            <tr>
                <td>height</td>
                <td>Specifies the height of the VIDEO tag</td>
            </tr>

            <tr>
                <td>loop</td>
                <td>Replays the video file</td>
            </tr>

            <tr>
                <td>preload</td>
                <td>Specifies whether the video file is preloaded on the Web page or not</td>
            </tr>

            <tr>
                <td>poster</td>
                <td>Provides an image to be displayed when the video file is not available</td>
            </tr>

            <tr>
                <td>src</td>
                <td>Provides the location of the video file to play</td>
            </tr>

            <tr>
                <td>width</td>
                <td>Specifies the width of the VIDEO tag</td>
            </tr>

        </table>
        <hr>

        <h4>How it works</h4>
        <p>
            The controls attribute adds video controls, like play, pause, and volume.
            It is a good idea to always include width and height attributes. If height and width are not set, the page might flicker while the video loads.
            The < source > element allows you to specify alternative video files which the browser may choose from. The browser will use the first recognized format.
            The text between the < video > and < /video > tags will only be displayed in browsers that do not support the < video > element.
        </p>
        <hr>



        <div class="container">
            <div class="row">
                <h1>HTML Video Tutorial</h1>
                <p>The following video provides a tutorial: Multimedia, Audio, Video, Youtube</p>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/spoJ7Z8LzW8" gesture="media" allowfullscreen></iframe>
            </div>
        </div>
        <hr>               
    </div>
</div>

<div class="container">
    <div class="row">
        @Html.ActionLink("Finish", "Index", "Student", null, new { @class = "btn btn-primary btn-large" }) @Html.ActionLink("Module III", "Module3", "Student", null, new { @class = "btn btn-primary btn-large" })
    </div>
</div>