
@{
    ViewBag.Title = "Module1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <h1>All about HTML</h1>
        <p>Hypertext Markup Language (HTML) is the standard markup language for creating web pages and web applications. With Cascading Style Sheets (CSS) and JavaScript it forms a triad of cornerstone technologies for the World Wide Web. Web browsers receive HTML documents from a web server or from local storage and render them into multimedia web pages. HTML describes the structure of a web page semantically and originally included cues for the appearance of the document.</p>
        <hr>
    </div>
</div>

<div class="container">
    <div class="row">
        <h2>HTML Multimedia</h2>
        <p>
            Multimedia : Images, Music, Sound, Videos, Records, Films, Animations, and more.
            It comes in many different formats. It can be almost anything you can hear or see.
            Web pages often contain multimedia elements of different types and formats.
        </p>
        <hr>

    </div>
</div>

<div class="container">
    <div class="row">
        <h2>Browser Support</h2>
        <p>
            The first web browsers had support for text only, limited to a single font in a single color.
            Later came browsers with support for colors and fonts, and images!
            Audio, video, and animation have been handled differently by the major browsers. Different formats have been supported, and some formats require extra helper programs (plug-ins) to work.
            Hopefully this will become history. HTML5 multimedia promises an easier future for multimedia.
        </p>
        <hr>

    </div>
</div>

<div class="container">
    <div class="row">
        <h2>Multimedia Formats</h2>
        <p>
            Multimedia elements (like audio or video) are stored in media files.
            The most common way to discover the type of a file, is to look at the file extension.
            Multimedia files have formats and different extensions like: .swf, .wav, .mp3, .mp4, .mpg, .wmv, and .avi.
        </p>
        <hr>

    </div>
</div>

<div class="container">
    <div class="row">
        <h2>HTML Embed Multimedia</h2>
        <p>
            Sometimes you need to add music or video into your web page. The easiest way to add video or sound to your web site is to include the special HTML tag called < embed >. This tag causes the browser itself to include controls for the multimedia automatically provided browser supports < embed > tag and given media type.
            You can also include a < noembed > tag for the browsers which don't recognize the < embed > tag. You could, for example, use < embed > to display a movie of your choice, and < noembed > to display a single JPG image if browser does not support < embed > tag.
        </p>
        <hr>

    </div>
</div>

<div class="container">
    <div class="row">
        @Html.ActionLink("Finish", "Index", "Student", null, new { @class = "btn btn-primary btn-large" }) @Html.ActionLink("Module II", "Module2", "Student", null, new { @class = "btn btn-primary btn-large" })
    </div>
</div>
