
@{
    ViewBag.Title = "MyAccount";
}

<div class="container">
    <div class="row">
        <form method="post">
            <fieldset>
                 <h1>My Account</h1>
                      <hr>
                <div>
                    <label for="CompanyName">Name:</label><br>
                    <input type="text" name="Name" value="" />
                </div>
                <div>
                    <label for="ContactName">Email Address:</label><br>
                    <input type="text" name="Email Address" value="" />
                </div>
                <br>
                <div>

                    <fieldset>Theme:<select id="ThemeType" name="ThemeType"><br>

                            <option value=""> </option>
                            
                            <option value="">Default</option>

                            <option value="0">Dark</option>
                        
                        </select>
                        </fieldset>
                </div>

                <hr>
                <div>
                    <label>&nbsp;</label>
                    <input type="submit" value="Submit" class="submit" />
                       
                </div>
            </fieldset>
        </form>
    </div>
</div>

